@charset "utf-8";

/* reset */
* { margin: 0; padding: 0; -webkit-text-size-adjust: none; word-break: keep-all }
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, input,select,option { margin: 0; padding: 0; border: 0; font-size: 100%; font-family:'Nunito', sans-serif; vertical-align: baseline; font-weight: 300; color:#2D2E43;}
.blind{overflow:hidden;position:absolute;top:-9999px;left:9999px;width:0 !important;height:0 !important;margin:0 !important;padding:0 !important;font-size:0;line-height:0;text-indent:-10000px}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 1.4; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }
button { padding: 0; background: 0; border: 0; cursor: pointer; letter-spacing:normal;font-family:'Nunito', sans-serif; }
a { text-decoration: none; }
a:link, a:hover, a:active, a:visited { text-decoration: none; color: initial }
input[type="checkbox"],
input[type="radio"] { overflow: hidden; border: 0; position: absolute; width: 1px; height: 1px; clip: rect(1px, 1px, 1px, 1px); clip-path: inset(50%);}
img{vertical-align: middle;}



@font-face {
	font-family: 'Nunito';
	src: url('../font/Nunito-Regular.eot');
	src: url('../font/Nunito-Regular.eot?#iefix') format('embedded-opentype'),
			url('../font/Nunito-Regular.woff') format('woff'),
			url('../font/Nunito-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: 400;
}
@font-face {
	font-family: 'Nunito';
	font-style: normal;
	font-weight: 600;
	src: local('Nunito SemiBold'), local('Nunito-SemiBold'), url(https://fonts.gstatic.com/s/nunito/v12/XRXW3I6Li01BKofA6sKUYevI.woff2) format('woff2');
}

  